In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
#import ipywidgets as widgets

# Import the API key.
from config import g_key

In [2]:
!pip3 install gmaps

Requirement already satisfied: gmaps in c:\users\acurt\anaconda3\lib\site-packages (0.9.0)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\acurt\anaconda3\lib\site-packages (from gmaps) (7.6.5)
Requirement already satisfied: traitlets>=4.3.0 in c:\users\acurt\anaconda3\lib\site-packages (from gmaps) (5.1.0)
Requirement already satisfied: geojson>=2.0.0 in c:\users\acurt\anaconda3\lib\site-packages (from gmaps) (2.5.0)
Requirement already satisfied: ipython>=5.3.0 in c:\users\acurt\anaconda3\lib\site-packages (from gmaps) (7.29.0)
Requirement already satisfied: six in c:\users\acurt\anaconda3\lib\site-packages (from gmaps) (1.16.0)
Requirement already satisfied: colorama in c:\users\acurt\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.4.4)
Requirement already satisfied: pickleshare in c:\users\acurt\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: pygments in c:\users\acurt\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (2.10.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\acurt\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (3.0.20)
Requirement already satisfied: jedi>=0.16 in c:\users\acurt\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.18.0)
Requirement already satisfied: matplotlib-inline in c:\users\acurt\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.1.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\acurt\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (58.0.4)
Requirement already satisfied: decorator in c:\users\acurt\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (5.1.0)
Requirement already satisfied: backcall in c:\users\acurt\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\acurt\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.1.3)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\acurt\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in c:\users\acurt\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (0.2.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in c:\users\acurt\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (1.0.0)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\acurt\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (6.4.1)
Requirement already satisfied: jupyter-client<8.0 in c:\users\acurt\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.12)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in c:\users\acurt\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (1.4.1)
Requirement already satisfied: tornado<7.0,>=4.2 in c:\users\acurt\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\acurt\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.3.0->gmaps) (0.8.2)
Requirement already satisfied: jupyter-core>=4.6.0 in c:\users\acurt\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (4.8.1)
Requirement already satisfied: pyzmq>=13 in c:\users\acurt\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (22.2.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\acurt\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.2)
Requirement already satisfied: pywin32>=1.0 in c:\users\acurt\anaconda3\lib\site-packages (from jupyter-core>=4.6.0->jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (228)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\acurt\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\acurt\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (21.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\acurt\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.18.0)
Requirement already satisfied: wcwidth in c:\users\acurt\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in c:\users\acurt\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.4.5)
Requirement already satisfied: jinja2 in c:\users\acurt\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.3)
Requirement already satisfied: terminado>=0.8.3 in c:\users\acurt\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.9.4)
Requirement already satisfied: nbconvert in c:\users\acurt\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.1.0)
Requirement already satisfied: argon2-cffi in c:\users\acurt\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.1.0)
Requirement already satisfied: prometheus-client in c:\users\acurt\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.11.0)
Requirement already satisfied: Send2Trash>=1.5.0 in c:\users\acurt\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.8.0)
Requirement already satisfied: pywinpty>=0.5 in c:\users\acurt\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.7)
Requirement already satisfied: cffi>=1.0.0 in c:\users\acurt\anaconda3\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.14.6)
Requirement already satisfied: pycparser in c:\users\acurt\anaconda3\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.20)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\acurt\anaconda3\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\acurt\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: defusedxml in c:\users\acurt\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.7.1)
Requirement already satisfied: bleach in c:\users\acurt\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (4.0.0)
Requirement already satisfied: testpath in c:\users\acurt\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.0)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\acurt\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.3)
Requirement already satisfied: jupyterlab-pygments in c:\users\acurt\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.1.2)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\acurt\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\acurt\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.3)
Requirement already satisfied: async-generator in c:\users\acurt\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.10)
Requirement already satisfied: nest-asyncio in c:\users\acurt\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.1)
Requirement already satisfied: webencodings in c:\users\acurt\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: packaging in c:\users\acurt\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (21.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\acurt\anaconda3\lib\site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.0.4)

In [3]:
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Lorengau,-2.0226,147.2712,82.67,76,99,2.95,PG,2/13/2022 23:19
1,1,Mataura,-46.1927,168.8643,62.47,48,37,2.28,NZ,2/13/2022 23:23
2,2,Taoudenni,22.6783,-3.9836,62.38,25,0,11.07,ML,2/13/2022 23:21
3,3,Puerto Ayora,-0.7393,-90.3518,76.55,90,91,1.99,EC,2/13/2022 23:23
4,4,Albany,42.6001,-73.9662,23.27,55,100,8.37,US,2/13/2022 23:18

In [5]:
#checking for null values
city_data_df.count()

City_ID       566
City          566
Lat           566
Lng           566
Max Temp      566
Humidity      566
Cloudiness    566
Wind Speed    566
Country       563
Date          566
dtype: int64

In [6]:
city_data_df.isna().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       3
Date          0
dtype: int64

In [7]:
#replace accidental null values
city_data_df=city_data_df.fillna(value="Nigeria")
city_data_df.tail()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
561,561,Fort Saint James,54.4333,-124.2500,34.47,98,100,1.48,CA,2/13/2022 23:39
562,562,Kargil,34.5667,76.1000,0.91,95,100,1.45,IN,2/13/2022 23:39
563,563,Roald,62.5833,6.1333,38.91,93,100,18.41,NO,2/13/2022 23:37
564,564,Houma,29.5958,-90.7195,55.40,30,0,9.22,US,2/13/2022 23:37
565,565,Kalanguy,51.0167,116.5167,-24.18,99,22,4.74,RU,2/13/2022 23:39

In [8]:
#check work
city_data_df.count()

City_ID       566
City          566
Lat           566
Lng           566
Max Temp      566
Humidity      566
Cloudiness    566
Wind Speed    566
Country       566
Date          566
dtype: int64

In [9]:
#get the data types
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable and add geographic center of Earth and zoom level
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.8)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=150, point_radius=3.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.8)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=150, point_radius=3.5)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.8)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=150, point_radius=3.5)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of windy speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.8)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=150, point_radius=3.5)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 85

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.tail(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
531,531,Cowra,-33.8333,148.6833,69.73,35,88,4.27,AU,2/13/2022 23:38
533,533,Opuwo,-18.0607,13.8400,68.65,86,100,4.36,Nigeria,2/13/2022 23:38
535,535,San Quintin,30.4833,-115.9500,72.68,29,4,11.68,MX,2/13/2022 23:38
542,542,Daman,20.4167,72.8500,69.67,63,0,1.01,IN,2/13/2022 23:38
545,545,Panguna,-6.3164,155.4848,79.03,69,92,3.09,PG,2/13/2022 23:38
550,550,Nandgaon,20.3167,74.6500,66.36,43,1,5.32,IN,2/13/2022 23:38
552,552,Richards Bay,-28.7830,32.0377,75.92,92,80,6.93,ZA,2/13/2022 23:38
556,556,Monrovia,6.3005,-10.7969,78.57,85,41,7.38,LR,2/13/2022 23:39
558,558,Dwarka,22.2394,68.9678,68.77,61,0,8.75,IN,2/13/2022 23:39
559,559,Dawei,14.0833,98.2000,72.14,84,28,2.44,MM,2/13/2022 23:39

In [17]:
# check for null values
preferred_cities_df.count()

City_ID       240
City          240
Lat           240
Lng           240
Max Temp      240
Humidity      240
Cloudiness    240
Wind Speed    240
Country       240
Date          240
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0       Lorengau      PG     82.67  -2.0226  147.2712
3   Puerto Ayora      EC     76.55  -0.7393  -90.3518
7           Bria      CF     74.17   6.5423   21.9863
10       Rikitea      PF     78.62 -23.1203 -134.9692
11      Bengkulu      ID     75.29  -3.8004  102.2655
16        Harper      LR     77.81   4.3750   -7.7169
17     Cape Town      ZA     72.12 -33.9258   18.4232
18    Manzanillo      CU     77.74  20.3433  -77.1167
19    Georgetown      MY     79.90   5.4112  100.3354
21         Keffi      NG     73.78   8.8486    7.8736

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Lorengau,PG,82.67,-2.0226,147.2712,Lorengau Harbourside Hotel
3,Puerto Ayora,EC,76.55,-0.7393,-90.3518,Finch Bay Galapagos Hotel
7,Bria,CF,74.17,6.5423,21.9863,WFP Guesthouse
10,Rikitea,PF,78.62,-23.1203,-134.9692,People ThankYou
11,Bengkulu,ID,75.29,-3.8004,102.2655,Grage Hotel Bengkulu
16,Harper,LR,77.81,4.3750,-7.7169,Screensaver
17,Cape Town,ZA,72.12,-33.9258,18.4232,Southern Sun Waterfront Cape Town
18,Manzanillo,CU,77.74,20.3433,-77.1167,"HOSTAL ""THE YELLOW HOUSE"""
19,Georgetown,MY,79.90,5.4112,100.3354,Cititel Penang
21,Keffi,NG,73.78,8.8486,7.8736,Imam Family

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.8)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=150, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]