## Deliverable 3. Create a Travel Itinerary Map.

In [21]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
import sys
sys.path.append('../')
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../vacation_search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,0,Atuona,PF,78.57,light rain,-9.8000,-139.0333,Villa Enata
1,4,Liwale,TZ,69.37,moderate rain,-9.7667,37.9333,Samoma lodge
2,6,East London,ZA,72.21,broken clouds,-33.0153,27.9116,Tu Casa
3,7,Mar Del Plata,AR,82.42,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
4,10,Oranjemund,Namimbia,65.37,broken clouds,-28.5500,16.4333,The Fisherman's Cove

In [5]:
# Set index
vacation_df=vacation_df.set_index('City_ID')
vacation_df.head()

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
City_ID,,,,,,,
0,Atuona,PF,78.57,light rain,-9.8000,-139.0333,Villa Enata
4,Liwale,TZ,69.37,moderate rain,-9.7667,37.9333,Samoma lodge
6,East London,ZA,72.21,broken clouds,-33.0153,27.9116,Tu Casa
7,Mar Del Plata,AR,82.42,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
10,Oranjemund,Namimbia,65.37,broken clouds,-28.5500,16.4333,The Fisherman's Cove

In [9]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [10]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.8)
marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Mildura"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Mildura"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Katherine"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Geraldton"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Esperance"] 
vacation_stop3

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
City_ID,,,,,,,
161,Esperance,AU,75.04,overcast clouds,-33.8667,121.9,Hospitality Esperance

In [45]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
stop3

(-33.8667, 121.9)

In [38]:
# UNDERSTANDING CONCEPT OF SEPARATING TO_NUMPY & INDEXING
print(vacation_start["Lat"].to_numpy())
print(vacation_start["Lat"].to_numpy()[0])

[-34.2]
-34.2

In [46]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
round_trip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3])
fig.add_layer(round_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end], ignore_index=True)
itinerary_df

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,Mildura,AU,68.07,few clouds,-34.2000,142.1500,Mercure Hotel Mildura
1,Katherine,AU,79.12,scattered clouds,-14.4667,132.2667,Pine Tree Motel
2,Geraldton,AU,73.81,broken clouds,-28.7667,114.6000,Broadwater Mariner Resort
3,Esperance,AU,75.04,overcast clouds,-33.8667,121.9000,Hospitality Esperance
4,Mildura,AU,68.07,few clouds,-34.2000,142.1500,Mercure Hotel Mildura

In [50]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [66]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(-20.0, 140.0), zoom_level=3.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))